<app-header></app-header>
<nz-table style=" margin: 50px;" #rowSelectionTable nzShowSizeChanger [nzData]="cartProsuctList"
  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
  <thead>
    <tr>
      <th  [(nzChecked)]="checked" [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="onAllChecked($event)"></th>
      <th>商品名稱</th>
      <th>商品圖片</th>
      <th>商品價錢</th>
      <th>商品敘述</th>
      <th>商品數量</th>
      <th>刪除</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of cartProsuctList">

      <td [nzChecked]="setOfCheckedId.has(item.productId)" (nzCheckedChange)="onItemChecked(item.productId, $event)"></td>
      <td><img style="width:180px" alt="example" src="../../../assets/Img/photo{{item.productId}}.jpg" /></td>
      <td>{{ item.productName }}</td>
      <td>NT.{{ item.productPrice * item.productCount }}</td>
      <td>{{ item.productDesc }}</td>
      <td>
        <button nz-button nzType="primary" [nzSize]="'small'" nzGhost (click)="incrementNum(item)">+ </button>
        &nbsp;&nbsp; {{ item.productCount }} &nbsp;&nbsp;
        <button [nzSize]="'small'" nzGhost nz-button nzType="primary" (click)="decrementNum(item)">-</button>
      </td>
      <td><a (click)="del(item)">Delete</a></td>
    </tr>
  </tbody>
</nz-table>

<div style="text-align: right; margin-right: 40px;">
  <button [nzSize]="'large'" nz-button nzType="primary" (click)="buy()">結帳 =></button>
</div>


<app-footer></app-footer>
