<app-header></app-header>



<div class="flex-box" style="display: flex;flex-wrap: wrap;">
  <div class="container" *ngFor="let item of productInfo ; let i = index">
    <nz-card style="width: 300px;margin: 60px 30px" [nzCover]="coverTemplate"
      [nzActions]="[actionSetting, actionEdit, actionEllipsis,addCart]">
      <nz-card-meta nzTitle={{item.productName}} nzDescription={{item.productDesc}}></nz-card-meta>
      <h3>NT. {{item.productPrice}}</h3>
      <!-- <button style="margin-top: 20px;" nz-button nzType="primary" (click)="reset()">Reset</button> -->
    </nz-card>


    <ng-template #coverTemplate>
      <div class="img-contain">
        <img style="width:100%;height:100%;object-fit: cover;" alt="example"
          src="../../../assets/Img/photo{{item.productId}}.jpg" />
      </div>

    </ng-template>
    <ng-template #actionSetting>
      <button nz-button nzType="primary" (click)="incrementNum(item)">+ </button>
      <span nzType="setting"></span>
    </ng-template>
    <ng-template #actionEdit>
      <span style="width:10px"> {{ item.productCount }} </span>
    </ng-template>
    <ng-template #actionEllipsis>
      <button nz-button nzType="primary" (click)="decrementNum(item)">-</button>
      <span nzType="ellipsis"></span>
    </ng-template>
    <ng-template #addCart>
      <button nz-button nzType='dashed' (click)="add(item)">cart</button>
      <span nzType="ellipsis"></span>
    </ng-template>

  </div>
</div>

<nz-select nzMode="multiple" nzPlaceHolder="Inserted are removed" [(ngModel)]="listOfSelectedValue">
  <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.couponDesc" [nzValue]="option.couponId"
    [nzHide]="!isNotSelected(option)"></nz-option>
</nz-select>
<button nz-button nzType='dashed' (click)="test()">test</button>
<app-footer></app-footer>