<app-header></app-header>

<div class="flex-box" style="display: flex;flex-wrap: wrap;">
  <div class="container" *ngFor="let item of productInfo ; let i = index">
    <nz-card style="width: 300px;margin: 60px 30px" [nzCover]="coverTemplate" [nzActions]="[actionSetting, actionEdit, actionEllipsis,addCart]">
      <nz-card-meta nzTitle={{item.productName}} nzDescription="This is the description"></nz-card-meta>
      <h3>NT. {{item.productPrice}}</h3>
      <!-- <button style="margin-top: 20px;" nz-button nzType="primary" (click)="reset()">Reset</button> -->
    </nz-card>


    <ng-template #coverTemplate>
      <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
    </ng-template>
    <ng-template #actionSetting>
      <button nz-button nzType="primary" (click)="incrementNum()">+ </button>
      <span nzType="setting"></span>
    </ng-template>
    <ng-template #actionEdit>
      <span style="width:10px"> {{ this.show }} </span>
    </ng-template>
    <ng-template #actionEllipsis>
      <button nz-button nzType="primary" (click)="decrementNum()">-</button>
      <span nzType="ellipsis"></span>
    </ng-template>
    <ng-template #addCart>
      <button nz-button nzType='dashed'  (click)="decrementNum()">cart</button>
      <span nzType="ellipsis"></span>
    </ng-template>

  </div>
</div>



<app-footer></app-footer>
